<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      Render notifications page  
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles here -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="render-notifications.js">
    </script>
    
  </head>
  <body>
    <div class="notifications">
    </div>
    <%- body %>
  </body>
</html>
